build/*
# Ignore all hidden files
test
a.out
*.out
*.o
.VSCodeCounter/*
.vscode/*

*.code-workspace
perf.data
perf.data.old
callgrind.out.*
testing/nombres_premiers_valgrind.COCS
testing/input.txt
testing/launcher.py
testing/test.COCS
testing/last_fail.COCS
testing/python_test.COCS

massif.out.*
testing/input_capture.txt
testing/output_capture.txt

vgcore.*
