div.main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*border: 3px solid #73AD21;*/
}

#code{
    width: 100%;
}

div.flex{
    display: flex;
    /*border: 3px solid #ad4b21;*/
}

button#submit{
    margin: auto;
    background-color: green;
    border-radius: 20px;
    padding-right: 10px;
    width: 100px;
    height: 30px;
}

div.code{
    grid-column: 1/4;
    grid-row: 1;
}

div.output{
    padding-left: 3%;
    grid-column: 4/5;
    grid-row: 1;
}

div#output{
    display: flex;
}

h1{
    margin: auto;
    padding: 1%;
    align-self: center;
}

div.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

button.menu{
    background-color: rgb(169, 169, 169);
    height: 40px;
    border-radius: 0;
    border-style:solid black;
    border: 1px solid black;
    border-left: 0px;
}

button.menu:hover{
    background-color: gray;
}

#run{
    background-color: rgb(33, 176, 95);
    color:white;
    border: 1px solid black;
    border-left: 1px solid black;
}

#run:hover{
    background-color: rgb(27, 143, 77);
}

#bug{
    background-color: rgb(228, 70, 70);
    color:white;
}

#bug:hover{
    background-color: rgb(228, 46, 46);
}
